.text-Center{
    text-align:center;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
    

}
.items-center{
    align-items: center;
}
.button{
    width: 33px;
    padding:10px;
    margin:0 2px;
    border:2px solid black;
    border-radius: 4px;
    cursor: pointer;
    
}
.row{
    margin:3px 0;
}
.row input{ 
    width:170px;
    margin:0;
    padding:5px 0px;
    border:2px solid black;
    border-radius: 4px;
    font-size: 12px;
}